#title { color: white;
    margin: auto;
    text-align: center;
    font-size: 40pt;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #222222;
}
.btn{
    font-family: "Segoe UI Semibold", sans-serif ;
    margin: 4vw;
    height: 32pt;
    color: #ffffff;
    background: #086CA2;
    border-style: hidden;
    border-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#content{
    background: #086CA2;
    width: 70vw;
    min-width: 600px;
    max-width: 960px;
    height: 60em;
    margin: 0 auto;
}
.text{
    margin-left: 6px;
    font-family: "Segoe UI", serif;
    color: #ffffff;
}

#footer{
    text-align: center;
    min-width: 600px;
    max-width: 960px;
    width: 70vw;
    height: 64px;
    color: #086CA2;
    background: #ffffff;
    margin: auto;
}
.foot{
    margin: 24px;
}

header {
    width: 70vw;
    display: flex;
    justify-content: space-between;
}
#home {
    font-family: "Segoe UI", sans-serif;
    font-size: 8pt;
    color: white;
    background: #086CA2;
    padding: 8px;
    margin: 12px 12px 12px 12vw;
    border-radius: 60% 60% 60% 0%;
    border-bottom: chartreuse;

}
#nav {
    display: flex;
    border-radius: 100% 100% 0 0;
    background: #086CA2;
    justify-content: space-evenly;
    width: 70vw;
    min-width: 600px;
    max-width: 960px;
    margin: 0 auto;
}

.subtitle{
    font-family: "Yu Gothic UI Semibold",sans-serif;
    font-size: 22pt;
    color: yellow;
    margin-bottom: 0;
    text-align: center;
}
#dbtest {
    margin: 0 auto;
    width: 40em;
    max-width: 960px;
    height: 8em;
    background: white;
    color: white;
}

#hello{
    padding: 30px 30px;
    margin: 5em auto;
    width: 40em;
    max-width: 80em;
    height: 6em;
    max-height: 10em;
    background: #222222;
    color: white;
    border-style: outset;
    border-radius: 5px;
    border-top-color: #222222;
    border-bottom-color: #4949f3;
    border-bottom-width: 10px;
    border-left-color: #222222;
    border-right-width: 0;
    font-size: 15px;
    font-family: "Segoe UI Semibold", sans-serif ;
}
#subject{
    padding: 30px 30px;
    margin: 5em auto;
    width: 40em;
    max-width: 80em;
    height: 6em;
    max-height: 10em;
    background: #222222;
    color: white;
    border-style: outset;
    border-radius: 5px;
    border-top-color: #222222;
    border-bottom-color: #ce3440;
    border-bottom-width: 10px;
    border-left-color: #222222;
    border-right-width: 0;
    font-size: 15px;
    font-family: "Segoe UI Semibold", sans-serif ;
}
#group {
    padding: 30px 30px;
    margin: 5em auto;
    width: 40em;
    max-width: 80em;
    height: 6em;
    max-height: 10em;
    background: #222222;
    color: white;
    border-style: outset;
    border-radius: 5px;
    border-top-color: #222222;
    border-bottom-color: #54b42e;
    border-bottom-width: 10px;
    border-left-color: #222222;
    border-right-width: 0;
    font-size: 15px;
    font-family: "Segoe UI Semibold", sans-serif ;
}
.hellobtn{
    margin: -30em  40em;
    width: 5em;
    height: 5em;
    background-color: #4949f3;
    border-radius: 360px;
    border-width: 0;
}
.subjbtn{
    margin: -30em  40em;
    width: 5em;
    height: 5em;
    background-color: #ce3440;
    border-radius: 360px;
    border-width: 0;
}
.groupbtn {
    margin: -30em  40em;
    width: 5em;
    height: 5em;
    background-color: #54b42e;
    border-radius: 360px;
    border-width: 0;
}

strong{
    font-size: 20px;
    font-weight: bold;
}

