<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


  <title>HelpStudent</title>
  <!--  <link th:href="@{/styles/css/main.css}" rel="stylesheet">-->
  <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->





</head>
<body>

<div id="app">
  <v-app id="inspire">
    <v-system-bar app color="secondary">
      <v-toolbar-title class="text-uppercase grey--text">
        <span class="font-weight-light">Help</span>
        <span>Students</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-icon>mdi-square</v-icon>

      <v-icon>mdi-circle</v-icon>

      <v-icon>mdi-triangle</v-icon>
    </v-system-bar>

    <v-app-bar
            app
            clipped-right
            flat
            height="72"
            color="grey lighten-3"

    >
      <v-spacer></v-spacer>

      <v-responsive max-width="156">
        <v-text-field
                dense
                flat
                hide-details
                rounded
                solo-inverted
                color="#393939"
        ></v-text-field>
      </v-responsive>
    </v-app-bar>

    <v-navigation-drawer
            v-model="drawer"
            app
            width="300"

    >
      <v-navigation-drawer
              v-model="drawer"
              absolute

              mini-variant
              color="#286BF9"

      >
        <v-avatar
                class="d-block text-center mx-auto mt-4"
                color="grey darken-1"
                size="36"
        ></v-avatar>

        <v-divider class="mx-3 my-5"></v-divider>

        <v-avatar
                v-for="n in 6"
                :key="n"
                class="d-block text-center mx-auto mb-9"
                color="grey lighten-1"
                size="28"
        ></v-avatar>
      </v-navigation-drawer>

      <v-list
              class="pl-14"
              color="white"
              height="128"
              width="100%"
      >
        <v-list-item

                v-for="n in 2"
                :key="n"
                link
                absolute


        >  <v-list-item-content>
          <v-list-item-title>Feature {{ n }}</v-list-item-title>
        </v-list-item-content>
      </v-list>
      <v-divider></v-divider>

      <v-list
              class="pl-14"
              shaped
      >
        <v-list-item
                v-for="n in 10"
                :key="n"
                link
        >
          <v-list-item-content>
            <v-list-item-title>Name {{ n }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-navigation-drawer
            app
            clipped
            right
    >
      <v-list>
        <v-list-item
                v-for="n in 10"
                :key="n"
                link
        >
          <v-list-item-content>
            <v-list-item-title>Name Status {{ n }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <!--  -->
    </v-main>

    <v-footer
            app
            color="transparent"
            height="72"
            inset
    >
      <v-text-field
              background-color="grey lighten-1"
              dense
              flat
              hide-details
              rounded
              solo
      ></v-text-field>
    </v-footer>
  </v-app>



</div>



<script>
  var app = new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data: {
      drawer: null
    },
    methods:{

    },
  })
</script>


</body>
</html>