<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


    <title>HelpStudent</title>
    <!--  <link th:href="@{/styles/css/main.css}" rel="stylesheet">-->
    <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->





</head>
<body>

<div id="app">
    <v-app id="inspire"
    >
        <v-app class="grey lighten-4">
            <nav>
                <v-app-bar app flat color="green">
                    <v-app-bar-nav-icon
                            class="white--text text-uppercase text"  @click="navdraw = !navdraw"
                    ></v-app-bar-nav-icon>

                    <v-toolbar-title class="white--text text-uppercase">
                        <span >Gruppen</span>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-text-field
                            @focus="searchClosed = false"
                            @blur="searchClosed = true"
                            class="expanding-search mt-6 "
                            :class="{ 'closed' : searchClosed}"
                            placeholder="Gruppe Suchen"
                            prepend-inner-icon="mdi-magnify"
                            clearable
                            dense
                            dark

                    ></v-text-field>
                    <v-dialog
                            transition="dialog-top-transition"
                            max-width="600"
                    >

                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                        icon
                                        v-bind="attrs"
                                        v-on="on"
                                        class="white--text"
                                > <v-icon>mdi-plus</v-icon></v-btn>
                            </template>

                        <template v-slot:default="dialog">
                            <v-card>

                                <v-toolbar
                                        color="green"
                                        dark
                                >Neue Gruppe Erstellen
                                </v-toolbar>

                                <v-card-text>

                                    <v-form ref="form">
                                        <v-row
                                        justify="space-between">
                                            <v-col cols="10">
                                                <v-btn @click="test">Modus wechseln</v-btn>
                                        <v-text-field
                                                class="mt-3"
                                                v-model="gruppenname"
                                                label="Gruppenname"
                                                required
                                                disabled
                                                v-if="editMode == true"
                                        ></v-text-field>
                                        <v-text-field
                                                v-model="email"
                                                label="Gruppenname"
                                                required
                                                v-else
                                        ></v-text-field>

                                        <v-select
                                                v-model="stdgangid"
                                                :items="studiengaenge"
                                                label="Studiengang"
                                                required
                                        ></v-select>
                                                <v-alert
                                                v-show="gruppenerror"
                                                v-model="gruppenerror"
                                                color="red"
                                                type="error">
                                                </v-alert>

                                            </v-col>

                                            <v-col cols="2">
                                                <v-slider
                                                        v-model="gruppengroesse"
                                                        color="green lighten-2"
                                                        value="12"
                                                        thumb-label="always"
                                                        ticks
                                                        vertical
                                                        min="4"
                                                        max="64"
                                                ></v-slider>
                                                <v-textfield>Größe</v-textfield>
                                            </v-col>
                                    </v-row>
                                        <v-row>
                                            <v-btn
                                                    class="mr-4"
                                                    color="green lighten-1"
                                                    dark
                                                    @click="erstelleGruppe()"
                                            >
                                                Erstellen
                                            </v-btn>
                                            <v-btn @click="reset()"
                                             color="red lighten-1"
                                            dark>
                                                Zurücksetzten
                                            </v-btn>


                                        </v-row>
                                    </v-form>
                                </v-card-text>
                                <v-card-actions class="justify-end">
                                    <v-btn
                                            text
                                            @click="dialog.value = false"
                                    >Schliessen</v-btn>
                                </v-card-actions>
                            </v-card>
                        </template>
                    </v-dialog>

                <v-navigation-drawer
                        app
                        v-model="navdraw"

                >
                    <template v-slot:prepend>
                        <v-list-item two-line>
                            <v-list-item-avatar>
                                <img src="https://randomuser.me/api/portraits/lego/6.jpg">
                            </v-list-item-avatar>

                            <v-list-item-content>
                                <v-list-item-title>{{session.svorname}} {{session.sname}}</v-list-item-title>
                                <v-list-item-subtitle>Angemeldet</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </template>

                    <v-divider></v-divider>

                    <v-list dense nav>
                        <v-list-item
                                v-for="item in items"
                                :key="item.title"
                                link
                                @click="openUrl(item.url, '_self')"
                        >
                            <v-list-item-icon>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                    </v-tooltip>
                </v-navigation-drawer>

            </nav>

            <v-main id="HSHL" :style="backgroundImage">
                <v-container>
                    <v-card
                            class="mx-auto"
                            max-width="860"
                            outlined
                            v-for="gruppe in groups"
                    >
                        <v-list-item three-line >
                            <v-list-item-content>
                                <div class="text-overline mb-4">
                                    {{gruppe.studiengang}}
                                </div>
                                <v-list-item-title class="text-h5 mb-1">
                                    {{gruppe.gruppenname}}
                                </v-list-item-title>
                                <v-list-item-subtitle>Mitgliederanzahl: {{gruppe.mitgliederanzahl}}</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-card-actions>
                            <v-btn
                                    outlined
                                    text
                                    @click="openChatroom(gruppe.groupId)"
                            >
                                Ansehen
                            </v-btn>
                            <v-btn
                                    outlined
                                    text
                            >
                                Beitreten
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-container>
            </v-main>
</div>
</v-app>



<script>
    var app = new Vue({
        el: '#app',
        vuetify:
            new Vuetify({
                theme: {
                    themes: {
                        light: {
                        },
                        dark: {
                        }
                    }
                }
            }),
        data: {
            editMode:false,
            searchClosed: 'false',
            navdraw: 'false',

            gruppenname:"",
            stdgang:"",
            gruppengroessee: 0,

            gruppenerror: false,
            gruppentext: "",

            items: [
                { title: 'Home', icon: 'mdi-home-variant-outline', url:   "http://localhost:8080/home"},
                { title: 'Mein Profil', icon: 'mdi-account-outline', url: "http://localhost:8080/Profil"},
                { title: 'Users', icon: 'mdi-account-group-outline', url: "http://localhost:8080/Profil"},
            ],
            session:"",
            groups:[
                { studiengang: "AIS", gruppenname:"Programmieren", mitgliederanzahl: "22", groupId:1},
                { studiengang: "AIS", gruppenname:"Mathe", mitgliederanzahl: "16", groupId:2},
            ],
            chaturl:"http://localhost:8080/chat",

            requestOptions: {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: {}
            },

        },
        methods:{
            test(){
                this.editMode = !this.editMode;
            },
            erstelleGruppe(){
                if (this.gruppenname !== "" && this.gruppengroessee !== 0) {
                    this.requestOptions.body = JSON.stringify({
                        gruppenname: this.gruppenname,
                        gruppengroesse: this.gruppengroesse,
                        stdgangid: this.stdgangid,
                    });
                    fetch("http://localhost:8080/Gruppen/creategroup", this.requestOptions)
                        .then((res) => res.text())
                        .then(data => (
                            this.handleData(data)
                        ));
                } else {
                    daten = JSON.parse(data);
                    gruppenerror = true;
                    gruppentext = daten.gruppentext;
                }

            },

            handleData(data){
                daten = JSON.parse(data);
                if(daten.gruppentext !== "" || daten.gruppentext !== undefined){
                    gruppenerror = true;
                    gruppentext = daten.gruppentext;
                }
            },
            openChatroom(id){
                //todo id benutzen um in den richtigen chatraum zu kommen
                console.log("etst");
                this.openUrl(this.chaturl, '')
            },
            openUrl(url, method){
                window.open(url, method);
            },
            initSession(){
                // sessionStorage.setItem("id", "");
                // sessionStorage.setItem("svorname", "");
                // sessionStorage.setItem("snachname", "");
                // sessionStorage.setItem("sbilderpfad", "");
            },
            darkMode() {
                this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
            },

            reset () {
                this.$refs.form.reset()
            },

        },
        computed:{
            sessionEmpty(){
                return sessionStorage.length === 0;
            }
        },
        backgroundImage() {
            if (this.$vuetify.theme.dark) {
                return {
                    "background-image": "url('/bg.png')",
                    "background-position": "center",
                    "background-repeat": "no-repeat",
                    "background-attachment": "fixed",
                }
            }

            if (!this.$vuetify.theme.light) {
                return {
                    "background-image": "url('/bg1.png')",
                    "background-position": "center",
                    "background-repeat": "no-repeat",
                    "background-attachment": "fixed",
                }
            }
        },
        created: function () {
            fetch("Profil/meineInfos/"+sessionStorage.getItem("id"))
                .then(rep => rep.json())
                .then(data => (
                    this.getStudent(data)
                ));





            if(this.sessionEmpty){
                this.initSession();
            }
            this.session = sessionStorage;
            console.log(sessionStorage);
        },
    })
</script>

<style>
    #HSHL{
        background-image: url("/bg1.png");
    }

    .v-input.expanding-search.closed {
        transition: max-width 0.2s;
        max-width: 30px

    }
</style>

</body>
</html>