<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="/favicon.png" rel="shortcut icon" type="image/x-icon"/>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
          name="viewport">


    <title>HelpStudent</title>
    <!--  <link th:href="@{/styles/css/main.css}" rel="stylesheet">-->


</head>
<body>

<div id="app">
    <v-app class="grey lighten-4" id="inspire">
        <nav>
            <v-app-bar app color="green" flat>
                <v-app-bar-nav-icon
                        @click="navdraw = !navdraw" class="white--text text-uppercase text"></v-app-bar-nav-icon>

                <v-toolbar-title class="white--text text-uppercase">
                    <span>Gruppen</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-text-field
                        v-model="responsiveSearch"
                        :class="{ 'closed' : searchClosed}"
                        @blur="searchClose()"
                        @focus="searchClosed = false"
                        class="expanding-search mt-6"
                        clearable
                        dark
                        dense
                        placeholder="Gruppe Suchen"
                        prepend-inner-icon="mdi-magnify"

                ></v-text-field>
                <v-dialog
                        max-width="600"
                        transition="dialog-top-transition"
                >

                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                                class="white--text"
                                icon
                                v-bind="attrs"
                                v-on="on"
                        >
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                    </template>

                    <template v-slot:default="dialog">
                        <v-card id="grpcreate">

                            <v-toolbar
                                    color="green"
                                    dark
                            >Neue Gruppe Erstellen
                            </v-toolbar>

                            <v-card-text>

                                <v-form ref="form">
                                    <v-row
                                            justify="space-between"
                                            overflow-visible="true">
                                        <v-col cols="10">
                                            <v-text-field
                                                    label="Gruppenname"
                                                    required
                                                    :rules="[v => !!v || 'Bitte Gruppennamen angeben!']"
                                                    v-model="gruppenname"
                                            ></v-text-field>
                                            <v-select v-model="fachid"
                                                      label="Fach auswählen"
                                                      :items="faecher"
                                                      item-text="fachName"
                                                      item-value="nlfdFach"
                                                      :rules="[v => !!v || 'Bitte Fach auswählen!']">

                                            <template v-slot:prepend-item>
                                                    <v-list-item>
                                                        <v-list-item-content>
                                                            <v-text-field v-model="fachsuche"
                                                                          placeholder="Fach suchen"
                                                                          @input="faecherSuche"
                                                                          filled
                                                                          outlined
                                                                          class="my-n2"
                                                            >
                                                            </v-text-field>
                                                        </v-list-item-content>
                                                    </v-list-item>
                                                    <v-divider class="mt-n6"></v-divider>
                                                </template>
                                            </v-select>

                                            <v-alert
                                                    color="red"
                                                    type="error"
                                                    dismissible
                                                    v-model="gruppenerror"
                                            >{{gruppentext}}</v-alert>

                                        </v-col>

                                        <v-col cols="2">
                                            <v-slider
                                                    class="mr-5"
                                                    color="green lighten-2"
                                                    max="64"
                                                    min="4"
                                                    thumb-label="always"
                                                    ticks
                                                    v-model="gruppengroesse"
                                                    value="12"
                                                    vertical
                                            ></v-slider>
                                            <p class="mt-2"> Größe </p>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-btn
                                                :disabled="!valid"
                                                @click="erstelleGruppe()"
                                                class="mr-4"
                                                color="green lighten-1"
                                                dark
                                        >
                                            Erstellen
                                        </v-btn>
                                        <v-btn @click="reset()"
                                               color="red lighten-1"
                                               dark>
                                            Zurücksetzten
                                        </v-btn>
                                    </v-row>
                                </v-form>
                            </v-card-text>
                            <v-card-actions class="justify-end">
                                <v-btn
                                        @click="dialog.value = false"
                                        text
                                >Schliessen
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </template>
                </v-dialog>
            </v-app-bar>


            <v-navigation-drawer
                    app
                    v-model="navdraw"
            >
                <template v-slot:prepend>
                    <v-list-item two-line>
                        <v-list-item-avatar>
                            <img id="navavatar" src="https://randomuser.me/api/portraits/lego/6.jpg">
                        </v-list-item-avatar>

                        <v-list-item-content>
                            <v-list-item-title>{{session.svorname}} {{session.sname}}</v-list-item-title>
                            <v-list-item-subtitle v-if="loginStatus">Angemeldet</v-list-item-subtitle>
                            <v-list-item-subtitle v-else>Nicht Angemeldet</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </template>

                <v-divider></v-divider>

                <v-list dense nav>
                    <v-list-item
                            :key="item.title"
                            @click="openUrl(item.url, '_self')"
                            link
                            v-for="item in items"
                    >
                        <v-list-item-icon>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
        </nav>

        <v-main :style="backgroundImage" id="HSHL">
            <v-container>
                <v-card
                        class="mx-auto"
                        max-width="860"
                        outlined
                        v-for="gruppe in filterGruppen"
                >
                    <v-list-item three-line>
                        <v-list-item-content>
                            <div class="text-overline mb-4">
                                {{gruppe.fach.fachName}}
                            </div>
                            <v-list-item-title class="text-h5 mb-1">
                                {{gruppe.gruppenname}}
                            </v-list-item-title>
                            <v-list-item-subtitle>Mitgliederanzahl: {{gruppe.teilnehmeranzahl}}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-card-actions>
                        <v-btn
                                @click="openChatroom(gruppe.gruppenId, gruppe.gruppenname)"
                                outlined
                                text
                        >
                            Chatten
                        </v-btn>
                        <v-btn
                                @click="gruppeBeitreten(gruppe.gruppenId)"
                                outlined
                                text
                        >
                            Beitreten
                        </v-btn>

                    </v-card-actions>
                </v-card>
            </v-container>
        </v-main>
    </v-app>
</div>


<script>
    var app = new Vue({
        el: '#app',
        vuetify:
            new Vuetify({
                theme: {
                    themes: {
                        light: {},
                        dark: {}
                    }
                }
            }),
        data: {
            valid: true,
            searchClosed: true,
            navdraw: false,

            responsiveSearch: "",
            fachsuche:"",
            gruppenname: "",
            fachid: "",
            gruppengroesse: 0,

            gruppenerror: false,
            gruppentext: "",

            faecher:[],
            faecherkopie:[],

            items: [
                {title: 'Home', icon: 'mdi-home-variant-outline', url: "http://localhost:8080/home"},
                {title: 'Mein Profil', icon: 'mdi-account-outline', url: "http://localhost:8080/Profil"},
                {title: 'Gruppen', icon: 'mdi-account-group-outline', url: "http://localhost:8080/Gruppen"},
            ],
            session: "",
            groups: [
                {studiengang: "AIS", gruppenname: "Programmieren", mitgliederanzahl: "22", groupId: 1},
                {studiengang: "AIS", gruppenname: "Mathe", mitgliederanzahl: "16", groupId: 2},
            ],
            chaturl: "http://localhost:8080/chat",

            requestOptions: {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: {}
            },
            gruppen:[],
            loginStatus:null,
        },
        methods: {
            checkLogin(){
                if(sessionStorage.getItem("id") === "" || this.sessionEmpty){
                    window.open("http://localhost:8080/Login?error=True","_self")
                }
            },
            setGruppen(data){
              console.log("Gruppen:");
              console.log(data);
               this.gruppen = data.gruppen;
            },

                getStudent(data) {
                this.student = data;
                if(this.student.bilderpfad){
                    document.getElementById("navavatar").src = "/"+this.student.bilderpfad
                }
            },
            searchClose() {
                if (this.responsiveSearch == "" || this.responsiveSearch == null) { //Bitte nicht durch === ersetzen
                    this.searchClosed = true;
                }
            },
            erstelleGruppe() {
                if (this.gruppenname !== "" && this.gruppengroesse !== 0) {
                    this.requestOptions.body = JSON.stringify({
                        gruppenname: this.gruppenname,
                        gruppengroesse: this.gruppengroesse,
                        fachid: this.fachid,
                        studentenid: sessionStorage.getItem("id")

                    });
                    console.log("Versuche Gruppe zu erstellen")
                    fetch("Gruppen/erstelleGruppe", this.requestOptions)
                        .then((res) => res.text())
                        .then(data => (
                            this.handleData(data)
                        ));

                    gruppentext = "Gruppe erstellt!"
                } else {
                    console.log("error")
                    gruppenerror = true;
                    gruppentext = "Gruppe konnte nicht erstellt werden";
                }

                this.fetchGruppen();
                location.reload();
            },
            gruppeBeitreten(id){
                this.requestOptions.body = JSON.stringify({
                    gruppenid: id,
                    studentenid: sessionStorage.getItem("id")
                });
                fetch("Gruppen/gruppe_beitreten", this.requestOptions)
                    .then((res) => res.text())
                    .then(data => (
                        this.handleData(data)
                    ));
            },

            handleData(data) {
                daten = JSON.parse(data);
                if (daten.gruppentext !== "" || daten.gruppentext !== undefined) {
                    gruppenerror = true;
                    gruppentext = daten.gruppentext;
                }
            },
            openChatroom(id, raumname) {
                console.log("Chatroom öffnen ");
                sessionStorage.setItem("roomId", id);
                sessionStorage.setItem("roomName", raumname);
                this.openUrl(this.chaturl, '');
            },
            openUrl(url, method) {
                window.open(url, method);
            },
            initSession() {
                sessionStorage.setItem("id", "");
                sessionStorage.setItem("svorname", "");
                sessionStorage.setItem("snachname", "");
                sessionStorage.setItem("sbilderpfad", "");
            },
            darkMode() {
                this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
            },

            reset() {
                this.$refs.form.reset()
            },
            getStudiengaenge(data) {
                this.studiengaenge = data;
            },
            getFaecher(data){
                this.faecher = data.Fach;
                console.log("faecher")
                this.faecherkopie = this.faecher;
            },
            faecherSuche(e) {
                if (!this.fachsuche) {
                    this.faecher = this.faecherkopie;
                }
                this.faecher = this.faecherkopie.filter((fach) => {
                    return fach.fachName.toLowerCase().indexOf(this.fachsuche.toLowerCase()) > -1;
                });
            },
            fetchGruppen(){
                fetch("Gruppen/getGruppen",  this.requestOptions)
                    .then(rep => rep.json())
                    .then(data => (
                        this.setGruppen(data)
                    ));
            },
            checkLoginStatus(){
                this.loginStatus = sessionStorage.getItem("id") !== "";
            },
        },
        computed: {
            filterGruppen() {
                return this.gruppen.filter(gruppe => {
                    return this.responsiveSearch.toLowerCase().split(' ')
                    .every(suche => gruppe.gruppenname.toLowerCase().includes(suche))
                })
            },
            studiengangsnamen() {
                let namen = [];
                if (this.studiengaenge.Studiengang !== undefined) {
                    this.studiengaenge.Studiengang.forEach(function (einArrayElement) {
                        namen.push(einArrayElement.stName);
                    });
                }
                return namen;
            },
            sessionEmpty() {
                return sessionStorage.length === 0;
            },
            backgroundImage() {
                if (this.$vuetify.theme.dark) {
                    return {
                        "background-image": "url('/bg.png')",
                        "background-position": "center",
                        "background-repeat": "no-repeat",
                        "background-attachment": "fixed",
                    }
                }

                if (!this.$vuetify.theme.light) {
                    return {
                        "background-image": "url('/bg1.png')",
                        "background-position": "center",
                        "background-repeat": "no-repeat",
                        "background-attachment": "fixed",
                    }
                }
            }
        },
        created: function () {
            if (this.sessionEmpty) {
                this.initSession();
            }
            this.checkLogin();



            this.checkLoginStatus();


            this.session = sessionStorage;
            console.log(sessionStorage);

            this.fetchGruppen();

            fetch("/Profil/meineInfos/"+sessionStorage.getItem("id"))
                .then(rep => rep.json())
                .then(data => (
                    this.getStudent(data)
                ));

            fetch("/studiengaenge")
                .then(rep => rep.json()
                    .then(data =>
                        this.getStudiengaenge(data)
                    ));

            fetch("/faecher")
                .then(rep => rep.json()
                    .then(data => {
                        this.getFaecher(data)
                    }));
        },
    })
</script>

<style>
    #HSHL {
        background-image: url("bg1.png");
    }

    #grpcreate {
        overflow: visible; /* Scrollbars Entfernen */
        overflow-x: hidden;
    }

    .v-input.expanding-search.closed {
        transition: max-width 0.2s;
        max-width: 30px

    }
</style>

</body>
</html>