<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" http-equiv="Cache-control" content="no-cache">
  <title>HelpStudent</title>
  <link th:href="@{/styles/css/main.css}" rel="stylesheet">



</head>
<body>
<header>
  <div id="home">
    <h2>HelpStudent</h2>
  </div>
</header>
<div id="nav">
  <a href="faecher">
    <button class="btn">Fächer</button>
  </a>

  <a href="Gruppen">
    <button class="btn">Gruppen</button>
  </a>

  <a href="Profil">
    <button class="btn">Profil</button>
  </a>
</div>
<div id="content">
  <h1 id="title">HelpStudent</h1>
  <article id="hello">
    <p><strong>Hallo [NAME]!</strong><br>
      Lern neue Gruppen und Lernpartner kennen!</p>
    <button class="hellobtn" type="button"></button>
  </article>

  <article id="subject">
    <p><strong>Deine Fächer</strong><br>
      Neue Student:innen benötigen deine Hilfe in einem deiner Fächer!</p>
    <button class="subjbtn" type="button"></button>
  </article>

  <article id="group">
    <p><strong>Deine Gruppen</strong><br>
      Sieh dir an, was in deinen Gruppen los ist!</p>
    <button class="groupbtn" type="button"></button>
  </article>

  <h3 class="subtitle">Datenbank Tests</h3>
  <div id="dbtest">
    <p id="dbout"></p>
  </div>
</div>
<div id="footer">
  <a class="foot" href="https://www.youtube.com">Impressum</a>
  <a class="foot" href="https://www.hshl.de">Kontakt</a>
  <a class="foot" href="https://www.twitter.com">Platzhalter</a>


</div>
</body>
</html>