<!DOCTYPE html>
<html lang="en">
<style>
    table, tr, td{
        border: 1px solid white;
    }

    *{
        font-family: Bahnschrift;
        color: white;
    }

    body{
        background: gray;
    }
</style>


<head>
    <meta charset="UTF-8">
    <title>HelpStudent</title>
</head>
<body>
    <main>
        <table>
            <caption>Studenten</caption>
            <thead>
            <tr>
            <td>ID</td>
            <td>Vorname</td>
            <td>Name</td>
            <td>email</td>
            <td>Geburtsdatum</td>
            </tr>
            </thead>
            <tbody>
                <tr th:each="student:${listStudent}">
                    <td th:text="${student.id}">ID</td>
                    <td th:text="${student.vorname}">ID</td>
                    <td th:text="${student.name}">ID</td>
                    <td th:text="${student.email}">ID</td>
                    <td th:text="${student.gebDatum}">ID</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>