<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/styles/css/Main.css" rel="stylesheet">

</head>
<body>
<div class="content">
    <form class="logmenu" action="@{/Login}" id="Benutzer">
        <div class="formlog">
            <label class="text" for="Mail">Username</label>
            <input class="logdata" type="text" name="username" id="Mail" maxlength="40" required>

            <label class="text" for="Passwort">Passwort</label>
            <input class="logdata" type="password" name="password" id="Passwort" required>

            <button class="formbtn" type="submit">Login</button>
            <a href="/Login/Register">
                <button class="register" type="button">Registrieren</button>
            </a>
        </div>
    </form>
</div>
</body>
</html>