<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


    <title>HelpStudent</title>
    <!--  <link th:href="@{/styles/css/main.css}" rel="stylesheet">-->
    <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->





</head>
<body>

<div id="app" onload="getStudent">
    <v-app class="grey lighten-4">

        <nav> <!-- Kopfzeile der Webseite -->
            <v-app-bar app flat color="grey lighten-4">
                <v-app-bar-nav-icon class="text-uppercase grey--text" @click="navdraw = !navdraw"></v-app-bar-nav-icon>

                <v-toolbar-title class="text-uppercase grey--text grey lighten-4">
                    <span class="font-weight-light">Help</span>
                    <span>Students</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn depressed  class="grey--text">
                    <span>Ausloggen</span>
                    <v-icon right>mdi-exit-to-app</v-icon>
                </v-btn>
            </v-app-bar>

            <!-- Ausfahrbare Navbar an der linken Seite-->
            <v-navigation-drawer
                    app
                    v-model="navdraw">
                <template v-slot:prepend>
                    <v-list-item two-line>

                        <!-- Profilinfos Navbar -->
                        <v-list-item-avatar>
                            <img src="https://randomuser.me/api/portraits/lego/6.jpg">
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title> {{student.svorname}} {{student.sname}} </v-list-item-title>
                            <v-list-item-subtitle>Angemeldet</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </template>

                <!-- Navbar Menüpunkte-->
                <v-list dense nav>
                    <v-list-item
                            v-for="item in items"
                            :key="item.title"
                            link
                            @click="openUrl(item.url, '_self')">
                        <v-list-item-icon>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
        </nav>

        <!--Start Hauptcontent Profil  -->
        <v-main >

            <!-- Blauer Container-->
            <v-container fluid >
                <v-row>
                    <v-col cols="12" align-self="stretch">
                        <v-card height="250" color="#286BF9">
                            <v-avatar
                                    class="mt-10 mx-16"
                                    size="150">
                                <img
                                        src="https://randomuser.me/api/portraits/lego/6.jpg"
                                        alt="Juan">
                            </v-avatar>

                            <div class="mt-n16 mb-16 mx-16 white--text">
                                <p class="font-weight-black text-center mt-n16 mx-auto "> Juan Pablo</p>
                                <p class="text-center">{{session.sstudiengang}} - {{session.ssemester}} - {{session.sstandort}}</p>

                                <v-chip
                                        class="mt-n16 mx-16"
                                        color="primary"
                                        text-color="white">
                                    Alter
                                    <v-icon right>
                                        mdi-cake-variant
                                    </v-icon>
                                </v-chip>
                            </div>
                        </v-card>
                    </v-col>

                    <!-- Start von Toolbox und Untermenüs-->
                    <v-col cols="12" align-self="stretch" color="secondary">
                        <v-card class="mt-n12 mx-auto"
                                elevation="15"
                                height="1000"
                                dark

                        >
                            <v-toolbar class="toolbar">
                                <v-tabs dark
                                        v-model="tabs"
                                        background-color="primary"
                                        grow>

                                    <!--Beschriftung der Tabs -->
                                    <v-tab id="meineinfos">
                                        Meine Infos
                                        </v-badge>
                                    </v-tab>
                                    <v-tab>
                                        <v-badge
                                                color="green"
                                                icon="1">
                                            Meine Fächer
                                        </v-badge>
                                    </v-tab>
                                    <v-tab>
                                        <v-badge
                                                color="red"
                                                icon="4">
                                            Meine Gruppen
                                        </v-badge>
                                    </v-tab>

                                    <!--Content Meine Infos -->
                                    <v-tab-item>
                                        <v-card dark
                                                tile
                                        >
                                            <v-card-title>
                                                Persönliches
                                            </v-card-title>
                                            <v-card-text>
                                                Geburtstag am {{session.sgeburtstag}}
                                            </v-card-text>
                                            <v-card-text>
                                                Geschlecht: {{session.sgeschlecht}}
                                            </v-card-text>
                                            <v-card-text>
                                                Studiengang
                                            </v-card-text>

                                            <v-select
                                                    :items="studiengaenge.Studiengang"
                                                    label="Studiengang auswählen"
                                                    dense
                                                    outlined
                                            ></v-select>


                                            <v-card-text>
                                                Eingeschrieben seit {{session.ssemester}} Semester(n)
                                            </v-card-text>
                                            <v-card-text>
                                                Meine Stärken: {{session.sstärken}}
                                            </v-card-text>
                                            <v-card-text>
                                                Meine Schwächen: {{session.sschwächen}}
                                            </v-card-text>

                                        </v-card>
                                    </v-tab-item>

                                    <!--Content Meine Fächer-->
                                    <v-tab-item  background-color="secondary">

                                        <v-card
                                                dark

                                                tile>
                                            <v-card-title> Frag diese Personen nach Rat</v-card-title>
                                            <v-card-title class="mx-5"> Fach 1 <v-card-title>
                                                <v-sheet
                                                        color="light-blue accent-1"
                                                        elevation="1"
                                                        height="100"
                                                        width="500"
                                                        class="mx-4 mb-4"
                                                        rounded
                                                > <v-avatar

                                                        class="mr-16 mt-3 float-right    "
                                                        size="80">
                                                    <img
                                                            src="https://randomuser.me/api/portraits/lego/6.jpg"
                                                            alt="Juan">
                                                </v-avatar>
                                                    <v-card-title class="">
                                                        XY kennt sich aus mit {{session.sschwächen}}
                                                    </v-card-title>


                                                    <v-btn
                                                            small
                                                            color="success"
                                                            dark
                                                            class=" ma-1"
                                                    >
                                                        Fragen
                                                    </v-btn>


                                                </v-sheet>
                                                <v-sheet
                                                        color="light-blue accent-1"
                                                        elevation="1"
                                                        height="100"
                                                        width="500"
                                                        class="mx-4 mb-4"
                                                        rounded
                                                > <v-avatar

                                                        class="mr-16 mt-3 float-right    "
                                                        size="80">
                                                    <img
                                                            src="https://randomuser.me/api/portraits/lego/6.jpg"
                                                            alt="Juan">
                                                </v-avatar>
                                                    <v-card-title class="">
                                                        XY kennt sich aus mit {{session.sschwächen}}
                                                    </v-card-title>


                                                    <v-btn
                                                            small
                                                            color="success"
                                                            dark
                                                            class=" ma-1"
                                                    >
                                                        Fragen
                                                    </v-btn>


                                                </v-sheet>
                                                <v-sheet
                                                        color="light-blue accent-1"
                                                        elevation="1"
                                                        height="100"
                                                        width="500"
                                                        class="mx-4 mb-4"
                                                        rounded
                                                > <v-avatar

                                                        class="mr-16 mt-3 float-right    "
                                                        size="80">
                                                    <img
                                                            src="https://randomuser.me/api/portraits/lego/6.jpg"
                                                            alt="Juan">
                                                </v-avatar>
                                                    <v-card-title class="">
                                                        XY kennt sich aus mit {{session.sschwächen}}
                                                    </v-card-title>


                                                    <v-btn
                                                            small
                                                            color="success"
                                                            dark
                                                            class=" ma-1"
                                                    >
                                                        Fragen
                                                    </v-btn>


                                                </v-sheet>


                                        </v-card>

                                        <v-card
                                                dark
                                                tile>
                                            <v-card-title > Hilf diesen Personen auf die Sprünge</v-card-title>
                                            <v-card-title class="mx-5"> Fach 2 <v-card-title>
                                                <v-sheet
                                                        color="deep-orange lighten-1"
                                                        elevation="1"
                                                        height="100"
                                                        width="500"
                                                        class="mx-4 mb-4"
                                                        rounded
                                                >
                                                    <v-avatar

                                                            class="mr-16 mt-3 float-right    "
                                                            size="80">
                                                        <img
                                                                src="https://randomuser.me/api/portraits/lego/6.jpg"
                                                                alt="Juan">
                                                    </v-avatar>
                                                    <v-card-title class="">
                                                        XY braucht deine Hilfe in {{session.sstärken}}
                                                    </v-card-title>


                                                    <v-btn
                                                            small
                                                            color="success"
                                                            dark
                                                            class=" ma-1"
                                                    >
                                                        Fragen
                                                    </v-btn>
                                                </v-sheet>
                                                <v-sheet
                                                        color="deep-orange lighten-1"
                                                        elevation="1"
                                                        height="100"
                                                        width="500"
                                                        class="mx-4 mb-4"
                                                        rounded
                                                >
                                                    <v-avatar

                                                            class="mr-16 mt-3 float-right    "
                                                            size="80">
                                                        <img
                                                                src="https://randomuser.me/api/portraits/lego/6.jpg"
                                                                alt="Juan">
                                                    </v-avatar>
                                                    <v-card-title class="">
                                                        XY braucht deine Hilfe in {{session.sstärken}}
                                                    </v-card-title>


                                                    <v-btn
                                                            small
                                                            color="success"
                                                            dark
                                                            class=" ma-1"
                                                    >
                                                        Fragen
                                                    </v-btn>
                                                </v-sheet>
                                                <v-sheet
                                                        color="deep-orange lighten-1"
                                                        elevation="1"
                                                        height="100"
                                                        width="500"
                                                        class="mx-4 mb-4"
                                                        rounded
                                                >
                                                    <v-avatar

                                                            class="mr-16 mt-3 float-right    "
                                                            size="80">
                                                        <img
                                                                src="https://randomuser.me/api/portraits/lego/6.jpg"
                                                                alt="Juan">
                                                    </v-avatar>
                                                    <v-card-title class="">
                                                        XY braucht deine Hilfe in {{session.sstärken}}
                                                    </v-card-title>


                                                    <v-btn
                                                            small
                                                            color="success"
                                                            dark
                                                            class=" ma-1"
                                                    >
                                                        Fragen
                                                    </v-btn>
                                                </v-sheet>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>

                                        <!-- Content Meine Gruppen-->
                                        <v-card dark
                                                tile>
                                            <v-card-title> Deine Gruppen </v-card-title>

                                            <v-main>
                                                <v-container  >
                                                    <v-row align-content="center" dense >
                                                        <v-col cols="1" >
                                                            <v-card height="150" color="secondary">
                                                                <v-avatar
                                                                        class="mt-6 mx-5"
                                                                        size="100"> <img
                                                                        src="https://randomuser.me/api/portraits/lego/6.jpg"
                                                                        alt="Juan"
                                                                ></v-avatar>
                                                            </v-card>
                                                        </v-col>
                                                        <v-col cols="1">
                                                            <v-card height="150" color="secondary">
                                                                <v-avatar
                                                                        class="mt-6 mx-5"
                                                                        size="100"> <img
                                                                        src="https://randomuser.me/api/portraits/lego/6.jpg"
                                                                        alt="Juan"
                                                                ></v-avatar>
                                                            </v-card>
                                                        </v-col>
                                                        <v-col cols="1">
                                                            <v-card height="150" color="secondary">
                                                                <v-avatar
                                                                        class="mt-6 mx-5"
                                                                        size="100"> <img
                                                                        src="https://randomuser.me/api/portraits/lego/6.jpg"
                                                                        alt="Juan"
                                                                ></v-avatar>
                                                            </v-card>
                                                        </v-col>
                                                        <v-col cols="1">
                                                            <v-card height="150" color="secondary">
                                                                <v-avatar
                                                                        class="mt-6 mx-5"
                                                                        size="100"> <img
                                                                        src="https://randomuser.me/api/portraits/lego/6.jpg"
                                                                        alt="Juan"
                                                                ></v-avatar>
                                                            </v-card>
                                                        </v-col>
                                                        <v-col cols="1">
                                                            <v-card height="150" color="secondary">
                                                                <v-avatar
                                                                        class="mt-6 mx-5"
                                                                        size="100"> <img
                                                                        src="https://randomuser.me/api/portraits/lego/6.jpg"
                                                                        alt="Juan"
                                                                ></v-avatar>
                                                            </v-card>
                                                        </v-col>

                                                        <v-col cols="1">
                                                            <v-card height="150" color="secondary">
                                                                <v-avatar
                                                                        class="mt-6 mx-5"
                                                                        size="100"> <img
                                                                        src="https://randomuser.me/api/portraits/lego/6.jpg"
                                                                        alt="Juan"
                                                                ></v-avatar>
                                                            </v-card>
                                                        </v-col>
                                                        <v-col cols="1" >
                                                            <v-card height="150" color="secondary">
                                                                <v-avatar
                                                                        class="mt-6 mx-5"
                                                                        size="100"> <img
                                                                        src="https://randomuser.me/api/portraits/lego/6.jpg"
                                                                        alt="Juan"
                                                                ></v-avatar>
                                                            </v-card>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                            </v-main>
                                            <!-- Chatportal Links-->
                                            <v-card-title> Chatportal</v-card-title>
                                            <v-card-text>Hier geht es in unser Chatportal</v-card-text>
                                            <v-btn
                                                    color="#286BF9"
                                                    class="mt-2 mx-5 mb-5"
                                                    @click="overlay = !overlay">
                                                Finde neue Gruppen
                                            </v-btn>
                                            <v-text-field
                                                    v-model="fusch"
                                                    dense
                                                    flat
                                                    hide-details
                                                    rounded
                                                    solo-inverted
                                            ></v-text-field>
                                            <v-btn
                                                    color="#286BF9"
                                                    class="mt-2 mx-5 mb-5"
                                                    @click="openChat()">

                                                Meine Chats
                                            </v-btn>
                                            </v-btn>
                                            <v-btn
                                                    color="#286BF9"
                                                    class="mt-2 mx-5 mb-5"
                                                    @click="overlay = !overlay">
                                                Meine Chatanfragen
                                            </v-btn>
                                        </v-card>
                                    </v-tab-item>
                                </v-tabs>
                            </v-toolbar>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>

        <!-- Footer-->
        <v-footer padless>
            <v-col class="text-center"
                   cols="16">
                {{ new Date().getFullYear() }} — <strong>Gruppe A4</strong>
            </v-col>
        </v-footer>
    </v-app>
</div>



<script>

    var app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),

        data: {
            fusch:"",
            navdraw: 'false',
            studiengaenge:[
                title= 'Angewandte Informatik und Soziale Medien',
                title= 'Betriebswirtschaftslehre',
                title= 'Biomedizinische Technologie',
                title= 'Computervisualistik und Design',
                title= 'Electronic Engineering',
                title= 'Energietechnik und Ressourcenoptimierung',
                title= 'Intelligent Systems Design',
                title= 'Interkulturelle Wirtschaftspsychologie',
                title= 'Materialdesign - Bionik und Photonik',
                title= 'Mechatronik',
                title= 'Sport- und Gesundheitstechnik',
                title= 'Technisches Management und Marketing',
                title= 'Umweltmonitoring und Forensische Chemie',
                title= 'Wirtschaftsingenieurwesen',
                title= 'Angewandte Biomedizintechnik',
                title= 'Betriebswirtschaftslehre (Master)',
                title= 'Biomedizinisches Management und Marketing',
                title= 'Business and Systems Engineering',
                title= 'Intercultural Business Psychology',
                title= 'Technical Consulting and Management',
                title= 'Product Developement and Business Studies',
                title= 'Product and Asset Management',
                title= 'Technical Entrepreneurship and Innovation',
                title= 'Umwelt- und Gefahrstoffanalytik',
            ],
            items: [
                { title: 'Home', icon: 'mdi-home-variant-outline', url:   "http://localhost:8080/home"},
                { title: 'Mein Profil', icon: 'mdi-account-outline', url: "http://localhost:8080/Profil"},
                { title: 'Gruppen', icon: 'mdi-account-group-outline', url: "http://localhost:8080/Gruppen"},
            ],
            student: null,
            chaturl:"http://localhost:8080/chat",

        },
        methods:{
            getStudent(data){
                this.student = data;
                console.log(this.student);
            },
            getStudiengaenge(data){
                this.studiengaenge = data;
                console.log(this.studiengaenge);
            },
            openUrl(url, method){
                window.open(url, method);
            },
            openChat(){
                this.initSession();
                sessionStorage.setItem("svorname", this.fusch);
                this.openUrl(this.chaturl, '');
            },
            initSession(){
                sessionStorage.setItem("id", "");
                sessionStorage.setItem("svorname", "");
                sessionStorage.setItem("snachname", "");
                sessionStorage.setItem("sbilderpfad", "");
            },
        },

        created() {
            fetch("Profil/meineInfos/1")
                .then(rep => rep.json())
                .then(data => (
                    this.getStudent(data)
                ));

            fetch("/studiengaenge").then(rep => rep.json().then(data => this.getStudiengaenge(data)));

        },
    })
</script>


</body>
</html>
