
<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


    <title>HelpStudent</title>
    <!--  <link th:href="@{/styles/css/main.css}" rel="stylesheet">-->

</head>
<body>

<div id="app" onload="getStudent">
    <v-app class="grey lighten-4">

        <nav> <!-- Kopfzeile der Webseite -->
            <v-app-bar app flat color="grey lighten-4">
                <v-app-bar-nav-icon class="text-uppercase grey--text" @click="navdraw = !navdraw"></v-app-bar-nav-icon>

                <v-toolbar-title class="text-uppercase grey--text grey lighten-4">
                    <span class="font-weight-light">Help</span>
                    <span>Students</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn depressed  class="grey--text" @click="logout()">
                    <span>Ausloggen</span>
                    <v-icon right>mdi-exit-to-app</v-icon>
                </v-btn>
            </v-app-bar>

            <!-- Ausfahrbare Navbar an der linken Seite-->
            <v-navigation-drawer
                    app
                    v-model="navdraw">
                <template v-slot:prepend>
                    <v-list-item two-line>

                        <!-- Profilinfos Navbar -->
                        <v-list-item-avatar>
                            <img id="navavatar" :src="standardbildurl">
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title v-if="student != null"> {{student.svorname}} {{student.sname}} </v-list-item-title>
                            <v-list-item-subtitle>Angemeldet</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </template>

                <!-- Navbar Menüpunkte-->
                <v-list dense nav>
                    <v-list-item
                            v-for="item in items"
                            :key="item.title"
                            link
                            @click="openUrl(item.url, '_self')">
                        <v-list-item-icon>
                            <v-icon>{{item.icon}}</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>{{item.title}}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
        </nav>

        <!--Start Hauptcontent Profil  -->
        <v-main >

            <!-- Blauer Container-->
            <v-container fluid >
                <v-row>
                    <v-col cols="12" align-self="stretch">
                        <v-card height="250" color="#286BF9">
                            <v-row>
                                <v-avatar
                                        class="mt-10 mx-16"
                                        size="150"
                                        v-show="!editMode">
                                    <img
                                            id="avatar"
                                            :src="standardbildurl"
                                            alt="Juan">
                                </v-avatar>

                                <v-avatar
                                        class="mt-10 mx-16"
                                        v-show="editMode"
                                        color="grey lighten-3"
                                        size="150">

                                    <img id="preview" src="" v-show="imgpreview">
                                </v-avatar>
                            </v-row>
                            <div class="mt-n16 mb-16 mx-16 white--text">
                                <p class="font-weight-black text-center mt-n16 mx-auto " v-if="student != null">{{student.svorname}} {{student.sname}}</p>
                                <p class="text-center"></p>

                                <v-btn
                                        class="mt-n17 ml-n2"
                                        @click="$refs.imginput.click()"
                                        v-show="editMode"
                                        fab
                                        dark
                                        color="green lighten-1"
                                >
                                    <v-icon>mdi-pencil</v-icon>
                                </v-btn>
                                <v-btn
                                        class="mt-n17 mx-8"
                                        @click="onRemove()"
                                        v-show="editMode"
                                        color ="red lighten-2"
                                        fab
                                        dark
                                >
                                    <v-icon color="white"
                                    >mdi-delete-empty</v-icon>
                                </v-btn>
                                <input
                                        type="file"
                                        name="file"
                                        ref="imginput"
                                        v-show="false"
                                        :rules="rules"
                                        accept="image/png, image/jpeg"
                                        @change="onChange($event)"
                                        @remove="onRemove()"/>
                            </div>
                        </v-card>
                    </v-col>

                    <!-- Start von Toolbox und Untermenüs-->
                    <v-col cols="12" align-self="stretch" color="secondary" dark>
                        <v-card class="mt-n12 mx-auto"
                                elevation="15"
                                height="1000"
                                dark

                        >
                            <v-toolbar class="toolbar">



                                <v-tabs dark
                                        background-color="primary"
                                        grow
                                        v-model="aktiverTab">

                                    <!--Beschriftung der Tabs -->
                                    <v-tab key="1">
                                        Meine Infos
                                        </v-badge>
                                    </v-tab>
                                    <v-tab key="2">
                                        <v-badge
                                                color="green"
                                                :value="gruppen.length"
                                        >
                                            Meine Fächer
                                        </v-badge>
                                    </v-tab>
                                    <v-tab key="3">
                                        <v-badge
                                                color="red"
                                                :value="gruppen.length">
                                            Meine Gruppen
                                        </v-badge>
                                    </v-tab>

                                    <!--Content Meine Infos -->
                                    <v-tab-item >
                                        <v-card dark tile >

                                            <v-card-title>
                                                Persönliches
                                            </v-card-title>

                                            <v-btn @click="saveinfo" class="ma-4" float="right"> Bearbeiten</v-btn>


                                            <v-card-text>Geburtstag:</v-card-text>
                                            <v-row justify="space-around">

                                            </v-row>
                                                <v-menu
                                                        ref="menu"
                                                        v-model="menu"
                                                        :close-on-content-click="false"
                                                        transition="scale-transition"
                                                        offset-y
                                                        :disabled="!editMode"
                                                        min-width="auto"
                                                >
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-text-field
                                                                v-model="geburtstag"
                                                                prepend-icon="mdi-calendar"
                                                                readonly
                                                                :disabled="!editMode"
                                                                v-bind="attrs"
                                                                v-on="on"
                                                        ></v-text-field>
                                                    </template>
                                                    <v-date-picker
                                                            v-model="geburtstag"
                                                            no-title
                                                            scrollable
                                                            max="2010-01-10"
                                                    >
                                                        <v-spacer></v-spacer>
                                                        <v-btn
                                                                text
                                                                color="primary"
                                                                @click="menu = false"
                                                        >
                                                            OK
                                                        </v-btn>
                                                    </v-date-picker>
                                                </v-menu>
                                            <v-card-text>Geschlecht:</v-card-text>

                                            <v-select
                                                    :items="geschlechter"
                                                    dense
                                                    outlined
                                                    required
                                                    :disabled="!editMode"
                                                    v-model="geschlecht"
                                            ></v-select>


                                            <v-card-text>
                                                Studiengang:
                                            </v-card-text>
                                            <v-select
                                                    :items="studiengaenge.Studiengang "
                                                    dense
                                                    outlined
                                                    required
                                                    :disabled="!editMode"
                                                    item-text="stName"
                                                    item-value="studiengangid"
                                                    v-model="aktuellerStudiengang"
                                            ></v-select>


                                            <v-card-text>Eingeschriebenes Semester:</v-card-text>
                                            <v-text-field
                                                    for="semester"
                                                    v-model="semester"
                                                    required
                                                    type="number"
                                                    step="1"
                                                    min="1"
                                                    max="20"
                                                    :rules="[semsterRegel]"
                                                    :disabled="!editMode"
                                            > </v-text-field>


                                            <v-card-text>Hier kann ich helfen:</v-card-text>
                                            <v-select v-model="staerken"
                                                      :items="faecher"
                                                      item-text="fachName"
                                                      item-value="nlfdFach"
                                                      chips
                                                      multiple
                                                      attach
                                                      v-if="editMode == true && aktuellerStudiengang">
                                                <template v-slot:prepend-item>
                                                    <v-list-item>
                                                        <v-list-item-content>
                                                            <v-text-field v-model="fachsuche"
                                                                          placeholder="Fach suchen"
                                                                          @input="faecherSuche"
                                                                          background-color="#1E1E1E"
                                                                          filled
                                                                          outlined
                                                                          class="my-n2"
                                                            >
                                                            </v-text-field>
                                                        </v-list-item-content>
                                                    </v-list-item>
                                                    <v-divider class="mt-n6"></v-divider>
                                                </template>
                                            </v-select>
                                            <v-text-field
                                                    required
                                                    label="Wähle zuerst deinen Studiengang!"
                                                    chips
                                                    disabled
                                                    multiple
                                                    v-if="editMode == true && !aktuellerStudiengang"
                                            > </v-text-field>
                                            <v-text-field
                                                    required
                                                    :label="staerkenString"
                                                    disabled
                                                    v-if="!editMode"
                                            > </v-text-field>



                                            <v-card-text>Hier brauche ich hilfe:</v-card-text>
                                            <!-- https://codepen.io/sudheer-ranga/pen/bGVbjbx -->
                                            <v-select v-model="schwaechen"
                                                      :items="faecher"
                                                      item-text="fachName"
                                                      item-value="nlfdFach"
                                                      chips
                                                      multiple
                                                      v-if="editMode == true && aktuellerStudiengang">
                                                <template v-slot:prepend-item>
                                                    <v-list-item>
                                                        <v-list-item-content>
                                                            <v-text-field v-model="fachsuche"
                                                                          placeholder="Fach suchen"
                                                                          @input="faecherSuche"
                                                                          background-color="#1E1E1E"
                                                                          filled
                                                                          outlined
                                                                          multiple
                                                                          class="my-n2"
                                                            >
                                                            </v-text-field>
                                                        </v-list-item-content>
                                                    </v-list-item>
                                                    <v-divider class="mt-n6"></v-divider>
                                                </template>
                                            </v-select>
                                            <v-text-field
                                                    required
                                                    label="Wähle zuerst deinen Studiengang!"
                                                    chips
                                                    disabled
                                                    multiple
                                                    v-if="editMode == true && !aktuellerStudiengang"
                                            > </v-text-field>
                                            <v-text-field
                                                    required
                                                    disabled
                                                    :label="schwaechenString"
                                                    chips
                                                    v-if="!editMode"
                                            > </v-text-field>

                                            <v-btn color="green lighten-2" class="ma-4" v-if="editMode == true" @click="addInfo"> Speichern</v-btn>

                                            <v-spacer></v-spacer>

                                            <v-dialog
                                                    v-model="dialog"
                                                    persistent
                                                    max-width="290"
                                            >
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-btn
                                                            color="red lighten-1"
                                                            dark
                                                            v-bind="attrs"
                                                            v-on="on"
                                                            class="ma-4"
                                                            :disabled="!editMode"
                                                    >
                                                        Account löschen
                                                    </v-btn>
                                                </template>
                                                <v-card>
                                                    <v-card-title class="text-h5">
                                                        Bist du dir sicher?
                                                    </v-card-title>
                                                    <v-card-text>
                                                        Das Löschen des accounts kann nicht wieder rückgängig gemacht werden.
                                                        Wenn du zustimmst sind deine Daten verloren und du kannst dich neu registrieren.
                                                    </v-card-text>
                                                    <v-card-actions>
                                                        <v-spacer></v-spacer>
                                                        <v-btn
                                                                color="green darken-1"
                                                                text
                                                                @click="dialog = false"
                                                        >Abbrechen</v-btn>
                                                        <v-btn
                                                                color="red darken-1"
                                                                text
                                                                @click="deleteUser"
                                                        >Löschen</v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-dialog>

                                        </v-card>


                                    </v-tab-item>

                                    <!--Content Meine Fächer-->
                                    <v-tab-item  background-color="secondary">

                                        <v-card
                                                dark
                                                tile>
                                            <v-card-title> Frag diese Personen nach Rat</v-card-title>

                                            <v-row align-content="center" dense >
                                                <v-col cols="4" v-for="gruppe in schwacheGruppen" >
                                                    <v-card
                                                            class="mx-auto"
                                                            max-width="860"
                                                            outlined
                                                    >
                                                        <v-list-item three-line>
                                                            <v-list-item-content>
                                                                <v-list-item-title class="text-h5 mb-1">
                                                                    {{gruppe.gruppenname}}
                                                                </v-list-item-title>
                                                                <v-list-item-subtitle>Mitgliederanzahl: {{gruppe.teilnehmeranzahl}}</v-list-item-subtitle>
                                                            </v-list-item-content>
                                                        </v-list-item>

                                                        <v-card-actions>
                                                            <v-btn
                                                                    outlined
                                                                    text>
                                                                Ansehen
                                                            </v-btn>
                                                            <v-btn
                                                                    outlined
                                                                    text>
                                                                Beitreten
                                                            </v-btn>
                                                        </v-card-actions>
                                                    </v-card>
                                                </v-col>
                                                <v-card
                                                        class="mx-auto my-4"
                                                        max-width="860"
                                                        outlined
                                                        v-if="schwacheGruppen.length < 1"
                                                >              <v-card-text>Es gibt noch keine Gruppen in denen du dir Hilfe suchen könntest!</v-card-text>
                                                </v-card>
                                            </v-row>
                                        </v-card>

                                        <v-card
                                                dark
                                                tile>
                                            <v-card-title > Hilf diesen Personen auf die Sprünge</v-card-title>
                                            <v-card-title class="mx-5">  </v-card-title>
                                            <v-row align-content="center" dense >
                                                <v-col cols="4" v-for="gruppe in starkeGruppen" >
                                                    <v-card
                                                            class="mx-auto"
                                                            max-width="860"
                                                            outlined
                                                    >
                                                        <v-list-item three-line>
                                                            <v-list-item-content>
                                                                <v-list-item-title class="text-h5 mb-1">
                                                                    {{gruppe.gruppenname}}
                                                                </v-list-item-title>
                                                                <v-list-item-subtitle>Mitgliederanzahl: {{gruppe.teilnehmeranzahl}}</v-list-item-subtitle>
                                                            </v-list-item-content>
                                                        </v-list-item>

                                                        <v-card-actions>
                                                            <v-btn
                                                                    outlined
                                                                    text>
                                                                Ansehen
                                                            </v-btn>
                                                            <v-btn
                                                                    outlined
                                                                    text>
                                                                Beitreten
                                                            </v-btn>
                                                        </v-card-actions>
                                                    </v-card>
                                                </v-col>
                                                <v-card
                                                        class="mx-auto my-4"
                                                        max-width="860"
                                                        outlined
                                                        v-if="starkeGruppen.length < 1"
                                                >              <v-card-text>Es gibt noch keine Gruppen in denen du anderen helfen könntest!</v-card-text>
                                                </v-card>
                                            </v-row>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>

                                        <!-- Content Meine Gruppen-->
                                        <v-card dark
                                                tile>
                                            <v-card-title> Deine Gruppen </v-card-title>

                                            <v-main>
                                                <v-container  >
                                                    <v-row align-content="center" dense >
                                                        <v-col cols="4" v-for="gruppe in meineGruppen" :key="gruppe.id">
                                                            <v-card
                                                                    class="mx-auto"
                                                                    max-width="860"
                                                                    outlined
                                                            >
                                                                <v-list-item three-line>
                                                                    <v-list-item-content>
                                                                        <v-list-item-title class="text-h5 mb-1">
                                                                            {{gruppe.gruppenname}}
                                                                        </v-list-item-title>
                                                                        <v-list-item-subtitle>Mitgliederanzahl: {{gruppe.teilnehmeranzahl}}</v-list-item-subtitle>
                                                                    </v-list-item-content>
                                                                </v-list-item>

                                                                <v-card-actions>
                                                                    <v-btn
                                                                            outlined
                                                                            text
                                                                    >
                                                                        Ansehen
                                                                    </v-btn>
                                                                    <v-btn
                                                                            outlined
                                                                            text
                                                                    >
                                                                        Beitreten
                                                                    </v-btn>
                                                                </v-card-actions>
                                                            </v-card>

                                                        </v-col>

                                                        <v-card
                                                                class="mx-auto my-4"
                                                                max-width="860"
                                                                outlined
                                                                @click="openUrl('http://localhost:8080/Gruppen','_self')"
                                                                v-if="meineGruppen.length < 1"
                                                        >              <v-card-text>Du bist noch keinen Gruppen beigetreten. Klick mich um Gruppen zu finden oder eine zu ersetllen!</v-card-text>
                                                        </v-card>

                                                    </v-row>
                                                </v-container>
                                            </v-main>
                                    </v-tab-item>
                                </v-tabs>
                            </v-toolbar>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>

        <!-- Footer-->
        <v-footer padless>
            <v-col class="text-center"
                   cols="16">
                {{ new Date().getFullYear() }} — <strong>Gruppe A4</strong>
            </v-col>
        </v-footer>
    </v-app>
</div>



<script>
    var app = new Vue({

        el: '#app',
        vuetify: new Vuetify(),

        data: {
            dialog: false,
            editMode:false,
            fachsuche:"",
            fusch:"",
            msg:"",
            aktiverTab: 1,
            navdraw: false,
            imgpreview:false,
            studiengaenge:[],
            faecher:[],
            faecherkopie:[],
            rules: [
                value => !value || value.size < 4000000 || 'Profilbild sollte kleiner als 4MB sein!',
            ],
            semsterRegel: v  => {
                if (v % 1 === 0) return true;
                if (typeof v !== "string") return true;
                return 'Es muss eine ganze Zahl sein!';
            },
            items: [
                { title: 'Home', icon: 'mdi-home-variant-outline', url:   "http://localhost:8080/home"},
                { title: 'Mein Profil', icon: 'mdi-account-outline', url: "http://localhost:8080/Profil"},
                { title: 'Gruppen', icon: 'mdi-account-group-outline', url: "http://localhost:8080/Gruppen"},
            ],
            menu: false,
            student: null,
            profilepic: "",
            chaturl:"http://localhost:8080/chat",
            aktuellerStudiengang:"",
            geburtstag: "2000-01-01",
            geschlecht: "",
            geschlechter:["männlich", "weiblich", "divers"],
            semester: "",
            staerken: [],
            staerkenArray: [],
            schwaechen: [],
            schwaechenArray: [],
            meineGruppen:[],
            gruppen:[],
            date: '01-01-2022',
            requestOptions: {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: {}
            },
            standardbildurl: "https://randomuser.me/api/portraits/lego/6.jpg",
        },
        methods: {
            checkLogin(){
                if(sessionStorage.getItem("id") === "" || this.sessionEmpty){
                    window.open("http://localhost:8080/Login?error=True","_self")
                }
            },
            logout(){
                sessionStorage.clear()
                window.open("http://localhost:8080/Login?logout=true","_self");
            },
            setGruppen(data){
                console.log("Gruppen:");
                console.log(data);
                this.gruppen = data.gruppen;
            },
            fetchGruppen(){
                fetch("Gruppen/getGruppen",  this.requestOptions)
                    .then(rep => rep.json())
                    .then(data => (
                        this.setGruppen(data)
                    ));
            },
            getStudent(data) {
                //todo hier muss weiter gemacht werdentest
                console.log("student")
                this.student = data.student;
                console.log(this.student)

                this.student.studiengang = data.studiengang;
                this.student.schwaechen = data.schwaechen;
                this.student.staerken = data.staerken;
                this.student.gruppen = data.gruppen;

                if(this.student.nsemester != null){
                    this.semester = this.student.nsemester;
                }
                if(this.student.geburtstag != null){
                    this.geburtstag = this.student.geburtstag;
                }
                if(this.student.studiengang != null){
                    this.aktuellerStudiengang = this.student.studiengang;
                }
                if(this.student.geschlecht != null){
                    this.geschlecht = this.student.geschlecht;
                }
                if(this.student.staerken != null && this.student.staerken !== []){
                    this.staerken = this.student.staerken;
                }
                if(this.student.schwaechen != null && this.student.schwaechen !== []){
                    this.schwaechen = this.student.schwaechen;
                }
                if(this.student.gruppen != null && this.student.gruppen !== []){
                    this.meineGruppen = this.student.gruppen;
                }
                if(this.student.bilderpfad !== null){
                    console.log(this.student.bilderpfad)
                    this.standardbildurl = "http://localhost:8080/"+this.student.bilderpfad;
                    console.log(this.standardbildurl);
                }

                let test = [];
                this.student.staerken.forEach(function(einArrayElement) {
                    test.push(einArrayElement.nlfdFach.toString())
                });

                this.staerkenArray = test;


                test = [];
                this.student.schwaechen.forEach(function(einArrayElement) {
                    test.push(einArrayElement.nlfdFach.toString())
                });

                this.schwaechenArray = test;
            },
            getStudiengaenge(data) {
                this.studiengaenge = data;
            },
            getFaecher(data){
                this.faecher = data.Fach;
                console.log("faecher")
                this.faecherkopie = this.faecher;
            },
            openUrl(url, method) {
                window.open(url, method);
            },
            openChat() {
                this.initSession();
                sessionStorage.setItem("svorname", this.fusch);
                this.openUrl(this.chaturl, '');
            },
            initSession() {
                sessionStorage.setItem("id", "");
                sessionStorage.setItem("svorname", "");
                sessionStorage.setItem("snachname", "");
                sessionStorage.setItem("sbilderpfad", "");
            },
            onChange(event){
                const files = event.target.files
                let pic = files[0].name;
                console.log(files[0])
                if(pic.lastIndexOf(".")<=0){
                    return alert("Bitte gültiges Bild hinzufügen \n(Kleiner als 2MB)")
                } this.profilepic = files[0]
                if (event) {
                    this.imgpreview = true
                    document.getElementById("preview").src = URL.createObjectURL(this.profilepic)
                }
            },
            onRemove() {
                this.imgpreview = false;
                this.profilepic = '';
            },
            addInfo(){
                const formData = new FormData();
                if(this.imgpreview) {
                    formData.append("file", this.profilepic);
                }

                if(typeof this.aktuellerStudiengang == "object"){
                    this.aktuellerStudiengang = this.aktuellerStudiengang.studiengangid;
                }

                let data = {
                    "geburtstag": this.geburtstag,
                    "geschlecht": this.geschlecht,
                    "studiengang": this.aktuellerStudiengang,
                    "semester": this.semester,
                    "staerken": this.staerken,
                    "schwaechen": this.schwaechen
                }


                formData.append("studid", this.student.nlfdstudent)
                console.log(data)
                console.log(JSON.stringify(data))
                formData.append("studentdata",JSON.stringify(data))
                const imgRequestOptions = {
                    method: "POST",
                    body: formData,
                }
                console.log(formData)
                fetch("/upload", imgRequestOptions)
                    .then((res) => res.text())
                    .then(data => (
                        this.handleData(data)
                    ));
                this.editMode = false;
            },
            handleData(data){
                data = JSON.parse(data)
                console.log("msg:" + data.msg)
            },

            saveinfo(){
                this.editMode = !this.editMode;
            },
            getStudiengangID(name){
                let stid
                for (const stName in this.studiengaenge) {
                    this.studiengaenge.Studiengang.forEach(function (stdgang) {
                        if (stdgang.stName === name){
                            stid = stdgang.studiengangid
                        }
                    })
                }
                return stid
            },
            faecherSuche(e) {
                if (!this.fachsuche) {
                    this.faecher = this.faecherkopie;
                }
                this.faecher = this.faecherkopie.filter((fach) => {
                    return fach.fachName.toLowerCase().indexOf(this.fachsuche.toLowerCase()) > -1;
                });
            },
            async deleteUser(){
                await fetch("profil/delete_user/"+sessionStorage.getItem("id"))
                sessionStorage.clear()
                window.open("http://localhost:8080/Login?delete=true","_self")
            },

            setaktiverTab(){
                if(sessionStorage.getItem("tab")){
                    this.aktiverTab = parseInt(sessionStorage.getItem("tab"));
                }
            }
        },
        computed:{
            schwaechenString(){
                let sschwachen = "";
                this.schwaechen.forEach(function(einArrayElement) {
                    console.log(typeof einArrayElement);
                    if(typeof einArrayElement == "object"){
                        sschwachen += einArrayElement.fachName+", ";
                    }

                });
                return sschwachen.substring(0,sschwachen.length - 2);
            },
            staerkenString(){
                let sstaerken = "";
                this.staerken.forEach(function(einArrayElement) {
                    console.log(typeof einArrayElement);
                    if(typeof einArrayElement == "object"){
                        sstaerken += einArrayElement.fachName+", ";
                    }

                });
                return sstaerken.substring(0,sstaerken.length - 2);
            },
            gitgud(){
                if(this.aktuellerStudiengang) {
                    return this.studiengaenge.Studiengang[this.aktuellerStudiengang]
                }
            },
            starkeGruppen(){
                gruppenstark=[];
                let staerkenarray = this.staerkenArray;
                this.gruppen.forEach(function(einArrayElement) {
                    if(staerkenarray.includes(einArrayElement.fach.nlfdFach.toString())){
                        gruppenstark.push(einArrayElement);
                    }
                });
                return gruppenstark;
            },

            schwacheGruppen(){
                gruppenschwach=[];
                let schwaechenarray = this.schwaechenArray;
                this.gruppen.forEach(function(einArrayElement) {
                    if(schwaechenarray.includes(einArrayElement.fach.nlfdFach.toString())){
                        gruppenschwach.push(einArrayElement);
                    }
                });
                return gruppenschwach;
            },
            sessionEmpty(){
                return sessionStorage.length === 0;
            },
            studiengangsnamen(){
                let namen = [];
                if(this.studiengaenge.Studiengang !== undefined){
                    this.studiengaenge.Studiengang.forEach(function(einArrayElement) {
                        namen.push(einArrayElement.stName);
                    });
                }
                return namen;
            }
        },

        created() {
            if (this.sessionEmpty) {
                this.initSession();
            }
            this.checkLogin();
            this.fetchGruppen();

            fetch("Profil/meineInfos/"+sessionStorage.getItem("id"))
                .then(rep => rep.json())
                .then(data => (this.getStudent(data)))

            fetch("/studiengaenge").then(rep => rep.json().then(data => this.getStudiengaenge(data)));

            fetch("/faecher")
                .then(rep => rep.json()
                    .then(data => {
                        this.getFaecher(data)
                    }));
            this.setaktiverTab();
        },
    })
</script>
</body>
</html>